<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.gensh.helloustb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- https://android-developers.googleblog.com/2017/08/making-it-safer-to-get-apps-on-android-o.html -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="me.gensh.helloustb.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name="me.gensh.service.NetworkConnectReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
                <!--<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />-->
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name="me.gensh.service.CampusNetworkTest"
            android:exported="false" />
        <service
            android:name="me.gensh.service.ApkDownloadIntentService"
            android:exported="false" />

        <activity
            android:name=".StartActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GuideActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_guide"
            android:theme="@style/Theme.NoActionBar.FullScreen" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.TransparentStatusBar" />
        <activity
            android:name=".NetWorkSignIn"
            android:label="@string/title_activity_net_work_sign_in"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WebNotificationsActivity"
            android:label="@string/title_activity_web_notifications"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ELearningCategory"
            android:label="@string/common_title_loading"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RecordQueryDetail"
            android:label="@string/title_activity_record_query_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Timetable"
            android:label="@string/title_activity_timetable"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TimetableDetail"
            android:label="@string/title_activity_timetable_detail"
            android:theme="@style/AppTheme.TransparentStatusBar" />
        <activity
            android:name=".TimetableEdit"
            android:label="@string/title_activity_timetable_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Library"
            android:label="@string/title_activity_library"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookDetail"
            android:label="@string/title_activity_book_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Volunteer"
            android:label="@string/title_activity_volunteer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyVolunteerList"
            android:label="@string/title_activity_my_volunteer_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VolunteerDetail"
            android:label="@string/title_activity_volunteer_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VolunteerSearch"
            android:label="@string/title_activity_volunteer_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VolunteerSearchResult"
            android:label="@string/title_activity_volunteer_search_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Account"
            android:label="@string/title_activity_account"
            android:theme="@style/AppTheme.TransparentStatusBar" />
        <activity
            android:name=".AccountManager"
            android:label="@string/title_activity_account_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Browser"
            android:label="@string/title_activity_browser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FileManager"
            android:label="@string/title_activity_file_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShareApp"
            android:label="@string/title_activity_share_app"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Feedback"
            android:label="@string/title_activity_feedback"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OpenSource"
            android:label="@string/title_activity_open_source"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CampusCardConsumption"
            android:label="@string/title_activity_campus_card_consumption"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- third part activity -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".USTB_VPNActivity"
            android:label="@string/title_activity_ustb__vpn"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>