<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.gensh.helloustb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name="me.gensh.service.NetworkConnectReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name="me.gensh.service.DownloadApk" />
        <service
            android:name="me.gensh.service.CampusNetworkTest"
            android:exported="false" />

        <activity
            android:name=".StartActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GuideActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_guide"
            android:theme="@style/Theme.NoActionBar.FullScreen" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.TransparentStatusBar" />
        <activity
            android:name=".MainTempActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.TransparentStatusBar" />
        <activity
            android:name=".Browser"
            android:label="@string/title_activity_browser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FileManager"
            android:label="@string/title_activity_file_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RecordQueryDetail"
            android:label="@string/title_activity_record_query"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShareApp"
            android:label="@string/title_activity_share_app"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Timetable"
            android:label="@string/title_activity_timetable"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TimetableDetail"
            android:label="@string/title_activity_timetable_detail"
            android:theme="@style/AppTheme.TransparentStatusBar" />
        <activity
            android:name=".TimetableEdit"
            android:label="@string/title_activity_timetable_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LibraryActivity"
            android:label="@string/title_activity_library"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookDetail"
            android:label="@string/title_activity_book_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Volunteer"
            android:label="@string/title_activity_volunteer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyVolunteerList"
            android:label="@string/title_activity_my_volunteer_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VolunteerDetail"
            android:label="@string/title_activity_volunteer_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VolunteerSearch"
            android:label="@string/title_activity_volunteer_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VolunteerSearchResult"
            android:label="@string/title_activity_volunteer_search_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Account"
            android:label="@string/title_activity_account"
            android:theme="@style/AppTheme.TransparentStatusBar" />
        <activity
            android:name=".Feedback"
            android:label="@string/title_activity_feedback"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GeneralSetting"
            android:label="@string/title_activity_general_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InnovationCredit"
            android:label="@string/title_activity_innovation_credit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccountManager"
            android:label="@string/title_activity_account_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NetWorkSignIn"
            android:label="@string/title_activity_net_work_sign_in"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OpenSource"
            android:label="@string/title_activity_open_source"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ELearningCategory"
            android:label="@string/title_activity_elearning"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>